.htext2 {
  font-weight: bold;
  font-size: 3.3rem;
  font-family: monospace;
  margin-right: 10px;
  color: #f25c05;
}

.He2 {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.textlast2 {
  font-size: 3.3rem;
  font-family: monospace;
}
.am {
  display: none;
}
@media (max-width: 425px) {
  .am {
    display: inline;
  }
  .ad {
    display: none;
  }
  .htext2 {
      font-size: 10vw;
  }
  .textlast2{
      font-size: 10vw;
  }
  .nameau{
       font-size: 5vw;
  }
  .pau{
      font-size: 4vw;
  }
}
