.CaroP2 {
  position: absolute;
  left: 70%;
  bottom: 10%;
  color: #f10c05;
}
.CaroP2h1 {
  display: flex;
  align-items: baseline;
}
.CaroN2 {
  position: absolute;
  bottom: 10%;
  font-weight: bold;
  font-size: 3rem;
  font-family: monospace;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  right: 70%;
}
.pay {
  margin-top: 1.5rem;
}
.caluitem {
  width: 70%;
  display: flex;
  overflow: auto;
  margin-left: 15px;
}
.nnb{
    align-self: flex-end; 
}
.dsfdfdf{
   
   width: 100%;
}

@media (max-width: 768px) {
  .price2313e {
    font-size: 2.5vw !important;
  }
  .samdsdasd0{
      font-size: 3vw !important;
  }
  .CaroN2{
      font-size: 3.5vw !important;
  }
}
@media (max-width: 425px){
    .caluitem {
        width: 90%;
        
      }
}